.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: cornflowerblue;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}